/* I know I just put images everywhere but i made this in 20 minutes leave me alone */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: black;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.container {
  width: 100%;
}

h1 {
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  margin: 0;
  padding: 0;
}